.reset-search-button {
  height: 40px;
  border-radius: 10px;
  font-weight: 700;
  background-color: #228B22;
  border: solid black;
  color: white;
}

.controls-container {
  text-align: left;
  padding-left: 75px;
}

.controls-container h4 {
  margin: 4px;
}

.distance-select-container,
.difficulty-select-container,
.park-select-container {
  margin: 5px 0;
}

.distance-select,
.difficulty-select,
.park-select {
  border: solid black 2px;
  width: 175px;
}