$submit-button-color: lightgray;


.location-display {
  color: green;
  margin: 20px 0 10px 35px;
}

.controls-container {
  text-align: left;
  height: 350px;
  margin: 10px;
  width: 400px;
  border-radius: 25px;
  background-color: rgba(255,255,255,0.7)
}

.controls-container h4 {
  margin: 4px;
}

.select-container {
  margin: 14px 35px
}

.distance-select-container,
.difficulty-select-container,
.park-select-container {
  margin: 5px 0;

  button {
    background: $submit-button-color;

    &:disabled {
      background: darken($submit-button-color, 10%)
    }

    &:hover:enabled {
      background: lighten($submit-button-color, 10%)
    }
  }
}

.distance-select,
.difficulty-select,
.park-select {
  border: solid black 2px;
  width: 175px;
  font-size: 12px;
}

.reset-search-button {
  height: 40px;
  border-radius: 10px;
  font-weight: 700;
  background-color: #228B22;
  border: solid black;
  color: white;
  margin: 10px 0 0 35px;

  &:hover {
    background: lighten(#228B22, 10%);
  }
}

.reset-filters-button {
  @extend .reset-search-button;
  margin: 0;
}

.apply-filters-button {
  @extend .reset-search-button;
  margin: 0;
}