.trail-search-container {
  margin: 10px 35px;
  
  input {
    width: 175px;
  }

  button {
    background: lightgray;

    &:disabled {
      background: darken(lightgray, 10%)
    }

    &:hover:enabled {
      background: lighten(lightgray, 10%)
    }
  }
}