.card {
  background-color: rgba(34,139,34,0.85);;
  height: 200px;
  width: 500px;
  border: solid 2px black;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 25px;
  text-align: center;
}


.side-items {
  display: flex;
  justify-content: space-between;
}

.distance-roundtrip {
  
}


.diffulty-rating {

}