.card {
  background-color: rgba(34,139,34,0.85);;
  height: 200px;
  width: 500px;
  border: solid 7px black;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  font-family: highway gotic;
  color: white;
}


.distance-difficulty-container {
  display: flex;
  justify-content: space-between;
}

.trail-name-title {
  color: yellow;
  font-style: italic;
}

.park-name-title {
  color: yellow;
  font-style: italic;
}


.distance-roundtrip-text {
  color: yellow;
}


.difficulty-rating-text {
  color: yellow;
}