.card {
  background-color: #228B22;
  height: 200px;
  width: 500px;
  border: solid 2px black;
  margin: auto;
}


.side-items {
  display: flex;
  justify-content: space-between;
}

.distance-roundtrip {
  
}


.diffulty-rating {

}