

header {
  height: 50px;
  width: 100vw;
  border: solid black 2px;
  background-color: #228B22;
  display: flex;
  justify-content: space-between;
}

.reset-search-button {
  background-color: #4B5E26;
  border: solid black 2px;
}